.splash_logo_container{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  img{
    width: 140%;
    height: 140%;
  }
}
.splash_spinner{
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 7%;
  z-index: -1;
}